@media screen and (max-width: 768px){
    
    #container{
        width: 236px;
        height: 244px;
        margin-left: -118px;
        margin-top: -122px;
    }

    #container > div#product-description{
        margin-left: -37px;
    }

}